<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 목록</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script th:if="${errorMessage != null}" th:inline="javascript">
        window.onload = function() {
            alert(/*[[${errorMessage}]]*/ '');
        }
    </script>
</head>
<body>
<div th:replace="~{header.html}"></div>
<main>
    <h1>사용자 목록</h1>
    <table border="1">
        <thead>
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" style="display: block; width: 100%; text-decoration: none; color: inherit;">
                    <span th:text="${user.id}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" style="display: block; width: 100%; text-decoration: none; color: inherit;">
                    <span th:text="${user.userId}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" style="display: block; width: 100%; text-decoration: none; color: inherit;">
                    <span th:text="${user.name}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" style="display: block; width: 100%; text-decoration: none; color: inherit;">
                    <span th:text="${user.email}"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/register" class="register-link">회원가입 페이지로</a>
</main>
<div th:replace="~{footer.html}"></div>
</body>
</html>