<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>

    </style>
</head>
<body>
    <div th:replace="~{header.html}"></div>

    <main>
        <h1>게시글 목록</h1>
        <ul class="article-list">
            <li th:each="article : ${articles}" class="article-item">
                <a th:href="@{/articles/{id}(id=${article.id})}" class="article-title" th:text="${article.title}"></a>
                <div class="article-meta">
                    <span th:text="${article.user.userId}"></span>
                    <span th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
            </li>
        </ul>
    </main>

    <div th:replace="~{footer.html}"></div>
</body>
</html>
